<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios Registrados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
    
        <div class="d-flex flex-column align-items-center me-4">
          <img src="/imagenes/CINE_HH.jpg" alt="logo" style="width: 60px; height: auto;">
          <a class="navbar-brand mt-1" href="#">CINEHH</a>
        </div>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/AgregarPelicula}">Agregar Películas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/listaUsuarios}">Administrar Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Contacto</a>
            </li>
            <!-- INICIO DE SESION-->
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}">cerrar sesión</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
        <h2 class="text-center text-primary mb-4">Usuarios Registrados</h2>
        <table class="table table-bordered table-striped shadow-sm">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Contraseña</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="u : ${usuarios}">
                    <td th:text="${u.id}"></td>
                    <td th:text="${u.usuario}"></td>
                    <td th:text="${u.contrasenia}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
